---
import { MySkills } from "../components/MySkills";
import {  MyAttributes} from "../components/MyAttributes";
import Layout from "../layouts/Layout.astro";
import Me from "../components/Me.astro";
import WorkedWithCompanies from "../components/WorkedWithCompanies.astro";
---

<Layout title="Thomas-Hinterbeger">
	<main>
		<Me />
		<MySkills client:idle />
		<MyAttributes client:idle/>
		<WorkedWithCompanies />
	</main>
</Layout>

<style></style>
