---
import Logos from "./Logos.astro";
---

<section class="w-full text-center space-y-10">
    <h3 class="text-3xl font-bold">my happy customers list</h3>
    <div class="relative max-w-[960px] overflow-hidden h-[100px] left-[50%] translate-x-[-50%]">
        <div class="animation absolute flex w-[1962px] gap-5">
            <Logos heigths={50} />
            <Logos heigths={50} />
        </div>
    </div>
</section>

<style>
    @keyframes scroll {
        0% {
            left: 0;
        }
        100% {
            left: calc(-1982px / 2);
        }
    }

    .animation {
        animation: scroll 10s linear Infinite;
        block-size: fit-content;
    }
</style>
